
body{
  margin : 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.topnav {
  overflow: hidden;
  background-color: black;
}
.img {
}

.topnav a {
  float: left;
  color: #FFDF00;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: #FFDF00;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.or {
  float: left;
  color: #696969;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  float: right;
  padding: 14px 16px;

}

input[type=text], input[type=password] {
    width: 100%;
    height: 100%;
    padding: 2px 2px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #404040;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    color: #FFDF00;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #404040;
    color:  ;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.log_pass {
    text-decoration: none;
    float: right;
    padding-top: 16px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 40%;
}

.buttons{
  color: #FFDF00;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.log_pass{
        text-decoration: none;
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color:  #FFDF00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background:  #FFDF00;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

.for{
  float: left;
  display: block;
  color:  #FFDF00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.copy{
  float: right;
  display: block;
  color:  #FFDF00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.restaurant{
    float: left;
  display: block;
  color:  #FFDF00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.error_msg{
  color: red;
}
